/node_modules
target
.classpath
.project
.settings
doc/Sopra Steria - Difa SSA-T - Bilag 2.docx
doc/~$pra Steria - Difa SSA-T - Bilag 2.docx
/doc/Sopra Steria Difa SSA-T bilag 2 Losningsforslag.docx
data-dumps
