<!DOCTYPE html>
<html>
<head>
<title>Load test scenario | Pharmacy.no</title>
</head>
<body>
	<div id="flashMessage"></div>


	<form method="post">
		<fieldset>
			<h3>Pasient:</h3>
			
			<input type="text" name="nationalId" placeholder="Fødselsnummer" list="unusedIds" />
			<datalist id="unusedIds"></datalist>
			
			<h3>Lege:</h3>
			
			<select name="prescriber" id="prescriber">
			</select>
		
			<h2>Forskrivning</h2>
			<fieldset>
				<h3>Forskrivning på legemiddelpakning</h3>
		
				<label>
					Legemiddel
					<select name="productId"></select>
				</label>
				
				<div>
					<button>
						Legg til resept
					</button>
				</div>
			</fieldset>
			<fieldset>
				<h2>Scenario</h2>
		
				
				<div>
					<button id="drugInteraction" name="scenario" value="drugInteraction">
						To legemidler med interaksjon (Ritalin og Aurorix)
					</button>
				</div>
			</fieldset>
		</fieldset>
	</form>

</body>
</html>