<!DOCTYPE html>
<html>
<head>
	<title>Reseptekspedering | pharmacy.no</title>
	<style>
		.medicationPrice { display: none; }
		.medicationDescription { display: none; }
	</style>
<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
</head>
<body>

	<script id="medicationOrderTemplate" type="template">
	<div>
		<h3 class='prescribedMedication'></h3>

		<ul>
			<li>Forskrevet av: <span class='prescriber'></span></li>
			<li>Forskrevet dato: <span class='dateWritten'></span></li>
		</ul>

		<h4>Alternative legemidler</h4>

		<ol class='alternativeMedications'></ol>

		<label>
			Reservasjon:
			<select>
				<option></option>
				<option>Legereservasjon</option>
				<option>Pasientreservasjon</option>
				<option>Apotekresevasjon</option>
			</select>
		</label>

		<h4>Kanseller</h4>
		<ul>
			<li><label><input type='radio' name='productId'/>Kanseller</label></li>
		</ul>
	</div>
	</script>


	<form method="post">
		<input type='hidden' name='orderId' id='orderId' />
		<h2 id='patient'>Pasient: </h2>
	
		<div id="medicationOrders"></div>
		
		<div id="price">
		<h2>Pris</h2>		
			<ul>
				<li><strong>Refusjon:</strong> <span id='totalRefund'></span></li>
				<li><strong>Egenandel:</strong> <span id='copay'></span></li>
				<li><strong>Mellomlegg pasient:</strong> <span id='uncoveredAmount'></span></li>
				<li><strong>Mellomlegg apotek:</strong> <span id='pharmacyAmount'></span></li>
			</ul>
			
			<button>Velg vare</button>
		</div>
	</form>

	<button>✓ Teknisk kontroll</button>

	<a href="/pharmacist/">
		<button>✓ Farmasøytkontroll</button>
	</a>

<script>
$(function() {
	$("#medicationOrders").on('click', '.medicationDetails', function() {
		var shouldShow = !$(this).closest('li').find('.medicationDescription').is(":visible");
		$(".medicationDescription").hide();
		if (shouldShow) {
			$(this).closest('li').find('.medicationDescription').show();
		}
		return false;
	});	
	$("#medicationOrders").on('change', '.productSelect', function() {
		$(".medicationPrice").hide();
		$(".medicationDescription").hide();
		$(this).closest('li').find('.medicationPrice').show();			
		return false;
	});	
	$(".productSelect[checked]").closest("li").find(".medicationPrice").show();
});
</script>
</body>
</html>