<!DOCTYPE html>
<html>
<head>
<title>Reseptursøk | pharmacy.no</title>
</head>
<body>

	<form>
		<h2>Ekspeder</h2>
		<label>
			Fødselsnummer
			<input type="text" name="nationalId" id="prescriptionsForNationalId" placeholder="Fødselsnummer" />
		</label>
		<button name="action" value="dispense">Search</button>
	</form>

	<form method="post">
		<div id="results"></div>
		
		<button name="action" value="dispense">Ekspeder</button>
	</form>


	<form>
		<h2>Resepthistorikk</h2>
		<label>
			Fødselsnummer
			<input type="text" name="nationalId" id="historyForNationalId" placeholder="Fødselsnummer" />
		</label>
		<button name="action" value="journal">Search</button>
	</form>

	<form method="post">
		<div id="historicalOrders"></div>
		<button name="action" value="dispense">Vis</button>
	</form>

</body>
</html>